version: "3.9"

services:
  db:
    image: postgres:15
    container_name: videoflix_database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    container_name: videoflix_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: videoflix_backend
    env_file: .env
    volumes:
      - .:/app
      - videoflix_media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  worker:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: videoflix_worker
    env_file: .env
    environment:
      DJANGO_SETTINGS_MODULE: core.settings
      PYTHONUNBUFFERED: 1
    command: ["python", "manage.py", "rqworker", "default"]
    volumes:
      - .:/app
      - videoflix_media:/app/media
    depends_on:
      - redis
      - db
      - web

volumes:
  postgres_data:
  redis_data:
  videoflix_media:
